/* CABECERA */
header {
    height: 450px;
    background: url('../images/music.png');
    background-repeat: no-repeat;
}

header .container h1 {
    padding: 8px;
    color: #10E762;
    font-size: 4rem;
    font-family: comic sans MS;
}

/* MENU DE NAVEGACION */
.nav-link {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
}

.election {
    background-color: #10E762;
    border-radius: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* BUSQUEDA */
section form .form-control {
    margin: 40px 270px;
    width: 50%;
}

/* SECTION */
.search {
    margin-top: 50px;
}

.canciones {
    margin-top: 20px;
}

.tit {
    height: 50px;
    background: #10E762;
}

.tit h2 {
    padding: 5px;
    color: #000;
}

.enlaces {
    text-decoration: none;
}

.list-group {
    margin-bottom: 50px;
}

.float-end img{
    width: 30px;
    height: 20px;
}

/* PIE DE PAGINA */
footer {
    margin-top: 50px;
    height: 55px;
    bottom: 0;
    position: relative;
}

.pie {
    padding: 5px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
    
    header {
        height: 100px;
    }
}

@media (max-width: 576px) {
    header {
        height: 180px;
    }
}

@media (max-width: 360px) {
    header {
        height: 200px;
    }
}